<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="ProjectShopConnection" connectionString="Data Source=DESKTOP-HO2KM0H;Initial Catalog=ProjectShopDB;Integrated Security=False;User Id=;Password=;MultipleActiveResultSets=True"></add>
	</connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>